@using data
@model List<Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4">Página Inicial de Clientes</h1>
</div>

<a asp-controller="Cliente" asp-action="Novo">
    <button class="btn btn-primary">Novo Cliente</button>
</a>

<table class="table table-striped">
    <tr>
        <th>Cpf</th>
        <th>Nome Cliente</th>        
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Apólice</th>
        <th>Prime</th>
    </tr>

    @foreach (var cliente in Model)
    {
        <tr>
            <td>@cliente.Cpf</td>
            <td>@cliente.NomeCliente</td>
            <td>@cliente.Telefone</td> 
            <td>@cliente.Email</td>
            <td>@cliente.Apolice</td>
            <td>@cliente.Prime</td>            
            <td><a asp-controller="Cliente" asp-action="Editar" asp-route-id=@cliente.Id>
                <button class="btn btn-secondary">Editar</button>
                </a>
            </td>
            <td><a asp-controller="Cliente" asp-action="Apagar" asp-route-id=@cliente.Id>
                <button class="btn btn-danger">Apagar</button>
                </a>
            </td>
        </tr>
    }
</table>
